/* Admin.css */

.admin-container {
    display: flex;
    height: 100vh;
    background-color: #f4f5f7;
    width: 100%;
    margin-left: 30px;
    position: relative;
}

.sidebar {
    width: 250px; /* Expanded width */
    background-color: #e3e5e7;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 0; /* Sidebar is always visible */
    top: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out; /* Animate width changes */
}

.sidebar.collapsed {
    width: 80px; /* Collapsed width */
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
    color: #e3e3e3;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home-icon {
    width: 40px; /* Adjust size as needed */
    height: auto;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu a {
    display: block;
    padding: 10px;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.sidebar-menu a:hover {
    background-color: #34495e;
}

.logout-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: #c0392b;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out; /* Animate margin changes */
    margin-left: 250px; /* Initial margin for expanded sidebar */
}

.main-content.collapsed {
    margin-left: 80px; /* Margin for collapsed sidebar */
}

.main-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Added space between charts */
    margin-bottom: 20px;
}

.chart {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Added space between cards */
}

.card {
    flex: 1;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card h3 {
    margin-bottom: 15px;
    font-size: 22px;
    color: #34495e;
}

.card p {
    font-size: 20px;
    color: #2c3e50;
}
