.contact-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 50px;
  background-color: #ffffff;
}

.contact-content {
  flex: 1;
  padding: 20px;
}

.contact-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.highlight {
  color: #ff6347; /* Tomato color */
}

.contact-content p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details p {
  font-size: 1em;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image img {
  max-width: 100%;
  height: auto;
}
