.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    overflow: hidden; /* Ensure content stays within the bounds */
}

.landing-image {
    width: 500px; /* Adjust width as needed */
    height: auto;
    margin-right: 40px;
    animation: blinkIn 3s ease-in-out forwards; /* Animation for image */
}

.landing-content {
    max-width: 800px; /* Adjust width as needed */
    color: #333;
}

@keyframes blinkIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.landing-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideInFromRight 1s ease-in-out forwards 0.5s; /* Delayed animation */
}

.landing-content .highlight {
    color: #23b52d;
}

.landing-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    opacity: 0;
    animation: slideInFromRight 1s ease-in-out forwards 1s; /* Delayed animation */
}

.explore-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #36be3d;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    opacity: 0;
    animation: slideInFromRight 1s ease-in-out forwards 1.5s; /* Delayed animation */
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.explore-link:hover {
    background-color: #117010;
}
