.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e0e0e033; /* Light gray with transparency */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Increased blur radius and opacity */
    color: black;
    font-family: 'Poppins', sans-serif;
    position: relative; /* Ensures box shadow is properly rendered */
    z-index: 10; /* Ensures the navbar is above other elements */
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo img {
    height: 50px;
    margin-top: 23px;
}

.navbar .title {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.navbar .eco {
    color: #38a34a;
}

.navbar .mart {
    color: #ca7c0f;
}

.navbar .delivery-info {
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.navbar .delivery-info:hover {
    color: #38a34a;
}

.navbar .navbar-center {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.navbar .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 80px;
    gap: 40px;
}

.navbar .login-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
}

.navbar .login-button:hover {
    background-color: #bef5c8;
    color: black;
}

.navbar .cart-icon {
    position: relative;
    cursor: pointer;
}

.navbar .cart-icon i {
    font-size: 20px;
    color: rgb(91, 89, 89);
}

.navbar .cart-icon:hover i {
    color: #38a34a;
}

.navbar .delivery-text {
    cursor: pointer;
    color: #333;
    font-size: 16px;
    margin-right: 20px;
}

.navbar .delivery-text:hover {
    color: #38a34a;
}

.navbar .down-arrow {
    font-size: 12px;
    margin-left: 5px;
}

.navbar .cart-count {
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 0.8em;
    position: absolute;
    top: -10px;
    right: -10px;
}
.navbar .search-bar {
    position: relative;
    margin-top: 10px;
    width: 700px;
    margin-right: 80px;
  }
  
  .navbar .search-bar input {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 25px;
    transform: translateY(-50%);
    background-color: #a1a0a022;
    border: 1px solid #cccccc;
  }
  
 .navbar .placeholder-container {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #aaa;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  
 .navbar .placeholder-container.fade-out {
    opacity: 0;
  }
  
 .navbar .placeholder-container.fade-in {
    opacity: 1;
  }
 
.navbar .user-icon {
    font-size: 1.5em;
    color: rgb(91, 89, 89);
    cursor: pointer;
  }
  
 .navbar .user-icon:hover {
    color: #38a34a;
  }
  
  