/* Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #2f4f4f;
    color: white;
    height: 100vh;
    /* display: flex; */
    flex-direction: column;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.home-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allow menu to grow and push the logout button down */
}

.sidebar-menu li {
    margin: 10px 0;
}

.sidebar-menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-menu a:hover {
    background-color: #4caf50; /* Green background on hover */
}

.logout-button {
    margin-top: 20px; /* Ensure there's some space above the button */
    background-color: #ff4d4d; /* Red background for logout */
    color: white;
    border: none;
    margin-top: 300px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #cc0000; /* Darker red on hover */
}
